/* reset */
*,
html,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* color parameters */
:root {
    --dark-blue-color: #1f2937;
    --grey-1-color: #f9faf8;
    --grey-2-color: #e5e7eb;
    --blue-1-color: #3882f5;

}

/* general */
a {
    color: inherit;
}

li {
    list-style-type: none;
}

body {
    max-width: 1100px;
    margin: 0 auto;
}


/* font parameter */
:root {
    --main-font: 'roboto', helvetica, sans-serif;
}

/* fonts */

html {
    font-family: var(--main-font);
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: var(--grey-1-color);
}

h2 {
    font-size: 36px;
    color: var(--dark-blue-color);
}

p {
    font-size: 18px;
}

/* header */

header {
    font-size: 18px;
    color: var(--grey-1-color);
    background: var(--dark-blue-color);
    width: 100%;
}

header nav {
    display: flex;
    padding: 0 20px;
    align-items: center;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    gap: 20px;
}

header nav ul li a {
    padding: 20px 0;
    color: var(--grey-1-color);
    text-decoration: none;
    display: block;
}

header nav img {

    height: 40px;
    width: auto;
}

/* General section styling */

body {
    color: var(--dark-blue-color);
}

header {
    position: relative;
}

section {
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
    flex-direction: row-reverse;
    gap: 40px;
    position: relative;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

section div {
    flex: 1;
}

section>img {
    width: 50%;
    height: auto;
}


/* section  background colors */
section.DarkBlueBg::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 100vw;
    transform: translateX(-50%);
    background: var(--dark-blue-color);
    z-index: -2;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 100vw;
    transform: translateX(-50%);
    background: var(--dark-blue-color);
    z-index: -2;
}

/* .DarkBlueBg section */

.DarkBlueBg {
    color: var(--grey-1-color);
}

/* blog section */

section.blog {
    flex-wrap: wrap;
    flex: 1;
    
}

section.blog a{
text-decoration: none;
}

section.blog article{
flex: 1;
gap: 40px;
}

section.blog article img {
    width: 100%;
    height: auto;
}

section.blog h2 {
    min-width: 100%;
    text-align: center;
    
}

